<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Hi, I'm Gram">
    <meta name="keywords" content="flake8, flake8 plugins, gram">
    <meta name="author" content="Gram (@orsinium)">
    <title>Flakes: list of flake8 plugins and their codes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>

  <body>
    <header class="text-center">
      <h1>Flakes: list of flake8 plugins and their codes</h1>
    </header>
    <main class="container">
      <ul>
        <li>
        The page contains the list of most of flake8 plugins and their codes
        as detected by <a href="https://github.com/orsinium-labs/flake8-codes">flake8-codes</a>.
        </li>
        <li>
          If you don't see a plugin on this page, you need to add support for it
          in flake8-codes.
        </li>
        <li>
          The page is designed to assist introspecting which plugins have which rules.
          To introspect locally installed plugins, you can use flake8-codes CLI directly.
        </li>
        <li>
          If you're looking for a specific plugin to add into your project, check out
          <a href="https://github.com/DmytroLitvinov/awesome-flake8-extensions">awesome-flake8-extensions</a>
          list.
        </li>
        <li>
          The source code for this page is available at
          <a href="https://github.com/orsinium-labs/flakes">github.com/orsinium-labs/flakes</a>.
        </li>
        <li>
          Last updated on {{ today }}.
        </li>
      </ul>

      {% for plugin in plugins %}
        <h2>{{ plugin.name }}</h2>
        <p>{{ plugin.summary }}</p>
        <ul>
          <li>
            <b>Version:</b>
            {{ plugin.version }}
          </li>
          <li>
            <b>Home page:</b>
            <a href="{{ plugin.url }}" target="_blank">{{ plugin.short_url }}</a>
          </li>
          {% if plugin.author %}
            <li>
              <b>Author:</b>
              {{ plugin.author }}
            </li>
          {% endif %}
          {% if plugin.license %}
            <li>
              <b>License:</b>
              {{ plugin.license }}
            </li>
          {% endif %}
        </ul>
        <table class="table">
          {% for code, message in plugin.codes %}
            <tr>
              <td>{{ code }}</td>
              <td>{{ message }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
    </main>

    <footer class="footer container-fluid text-white p-3 my-3">
      <p class="fs-1 text-center">
        <a href="https://github.com/sponsors/orsinium" target="_blank" class="text-white">
          support me
        </a>
      </p>
    </footer>
  </body>

</html>
